In [5]:
import pandas as pd
import numpy as np

In [6]:
mobile_price_train = pd.read_csv("train.csv")
mobile_price_test = pd.read_csv("test.csv")

In [43]:
independent = mobile_price_train.drop(["price_range"],axis=1)
independent

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0
1998,1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1
1999,510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1

In [42]:
dependent = pd.DataFrame(mobile_price_train['price_range'])
dependent

      price_range
0               1
1               2
2               2
3               2
4               1
...           ...
1995            0
1996            2
1997            3
1998            0
1999            3

[2000 rows x 1 columns]

In [48]:
y = mobile_price_test.drop(["id"],axis=1)

In [49]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size= 0.25,random_state = 200)

In [50]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(X_train, y_train)
DT.score(, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [500, 1000]

In [14]:
merge_price = pd.concat([mobile_price_train,mobile_price_test])
merge_price

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,id
0,842,0,2.2,0,1,0,7,0.6,188,2,...,756,2549,9,7,19,0,0,1,1.0,NaN
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,1988,2631,17,3,7,1,1,0,2.0,NaN
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1716,2603,11,2,9,1,1,0,2.0,NaN
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1786,2769,16,8,11,1,0,0,2.0,NaN
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1212,1411,8,2,15,1,1,0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1700,1,1.9,0,0,1,54,0.5,170,7,...,913,2121,14,8,15,1,1,0,NaN,996.0
996,609,0,1.8,1,0,0,13,0.9,186,4,...,1632,1933,8,1,19,0,1,1,NaN,997.0
997,1185,0,1.4,0,1,1,8,0.5,80,1,...,825,1223,5,0,14,1,0,0,NaN,998.0
998,1533,1,0.5,1,0,0,50,0.4,171,2,...,832,2509,15,11,6,0,1,0,NaN,999.0
999,1270,1,0.5,0,4,1,35,0.1,140,6,...,608,2828,9,2,3,1,0,1,NaN,1000.0

In [15]:
merge_price1 = merge_price.dropna(axis=1)
merge_price1

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1700,1,1.9,0,0,1,54,0.5,170,7,17,644,913,2121,14,8,15,1,1,0
996,609,0,1.8,1,0,0,13,0.9,186,4,2,1152,1632,1933,8,1,19,0,1,1
997,1185,0,1.4,0,1,1,8,0.5,80,1,12,477,825,1223,5,0,14,1,0,0
998,1533,1,0.5,1,0,0,50,0.4,171,2,12,38,832,2509,15,11,6,0,1,0
999,1270,1,0.5,0,4,1,35,0.1,140,6,19,457,608,2828,9,2,3,1,0,1

In [18]:
independent = pd.DataFrame(merge_price1.drop(["battery_power"],axis=1))

In [19]:
independent

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,1.9,0,0,1,54,0.5,170,7,17,644,913,2121,14,8,15,1,1,0
996,0,1.8,1,0,0,13,0.9,186,4,2,1152,1632,1933,8,1,19,0,1,1
997,0,1.4,0,1,1,8,0.5,80,1,12,477,825,1223,5,0,14,1,0,0
998,1,0.5,1,0,0,50,0.4,171,2,12,38,832,2509,15,11,6,0,1,0
999,1,0.5,0,4,1,35,0.1,140,6,19,457,608,2828,9,2,3,1,0,1

In [20]:
dependent = pd.DataFrame(merge_price1["battery_power"])

In [21]:
dependent

     battery_power
0              842
1             1021
2              563
3              615
4             1821
..             ...
995           1700
996            609
997           1185
998           1533
999           1270

[3000 rows x 1 columns]

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.25,random_state=2000)

In [24]:
x_train,y_train

(      blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  mobile_wt  \
 325      0          2.1         1   5       0          25    0.4        115
 1638     0          2.6         1   3       0           8    0.8        185
 689      1          0.5         0   5       1          57    0.9        155
 1517     0          1.4         1   3       0          14    0.7        199
 1658     1          1.3         1   4       1          42    1.0        162
 ...    ...          ...       ...  ..     ...         ...    ...        ...
 1659     1          1.5         1   6       0          61    0.2        196
 1590     0          0.5         1   1       1          36    0.9         87
 1230     0          2.7         1   5       1          20    0.4        173
 840      0          1.6         1   5       1          39    0.8        152
 998      1          0.5         1   0       0          50    0.4        171

       n_cores  pc  px_height  px_width   ram  sc_h  sc_w  talk_time  three_g  \
 325         7  14        209      1078   785    10     7          5        0
 1638        1   7       1015      1947  2528    11     8          8        0
 689         6   9       1114      1374  1509    15    11         18        1
 1517        4   4       1563      1692  2933    16     3         11        0
 1658        7  15        380      1550  3338    18    13         11        1
 ...       ...  ..        ...       ...   ...   ...   ...        ...      ...
 1659        4   9        603      1483  3473     7     3          4        0
 1590        8  11        664      1806  3235     6     1         10        1
 1230        2   6        478      1477   259    12     6          4        1
 840         4   6        792      1181  1993     9     0          5        1
 998         2  12         38       832  2509    15    11          6        0

       touch_screen  wifi
 325              1     1
 1638             1     0
 689              1     1
 1517             1     0
 1658             1     1
 ...            ...   ...
 1659             0     1
 1590             0     1
 1230             1     1
 840              0     0
 998              1     0

 [2250 rows x 19 columns],
       battery_power
 325             920
 1638            667
 689             705
 1517            911
 1658           1812
 ...             ...
 1659            770
 1590           1640
 1230            697
 840            1973
 998            1533

 [2250 rows x 1 columns])

In [25]:
merge_price1.isnull().values.any()

False

In [26]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(x_train,y_train)
DT.score(x_test,y_test)

0.0

In [27]:
from sklearn.neighbors import KNeighborsClassifier

In [28]:
KNN = KNeighborsClassifier()
KNN.fit(x_train,y_train)
KNN.score(x_test,y_test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.0013333333333333333