In [130]:
import pandas as pd
import re
import string
from sklearn.model_selection import train_test_split

In [131]:
dataset = pd.read_csv("gender.csv")

In [132]:
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text
dataset["Favorite Music Genre"] = dataset["Favorite Music Genre"].apply(word_drop)
dataset["Favorite Soft Drink"] = dataset["Favorite Soft Drink"].apply(word_drop)

In [133]:
# from sklearn.preprocessing import LabelEncoder
l1 = LabelEncoder()
l2 = LabelEncoder()
l3 = LabelEncoder()
l4 = LabelEncoder()
l5 = LabelEncoder()

In [134]:
dataset['Favorite Color'] = l1.fit_transform(dataset['Favorite Color'])
dataset['Favorite Music Genre'] = l2.fit_transform(dataset['Favorite Music Genre'])
dataset['Favorite Beverage'] = l3.fit_transform(dataset['Favorite Beverage'])
dataset['Favorite Soft Drink'] = l4.fit_transform(dataset['Favorite Soft Drink'])
dataset['Gender'] = l4.fit_transform(dataset['Gender'])

In [142]:
dataset

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,0,6,3,0,0
1,1,2,3,1,0
2,2,6,5,1,0
3,2,1,4,2,0
4,0,6,3,1,0
...,...,...,...,...,...
61,0,6,3,1,1
62,0,2,0,1,1
63,1,2,1,2,1
64,0,6,5,1,1
65,0,0,0,1,1

In [136]:
independent= pd.DataFrame(dataset.drop(["Gender"],axis=1))
dependent = pd.DataFrame(dataset["Gender"])

In [137]:
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size = 0.25,random_state =200)

In [138]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(x_train,y_train)
DT.score(x_test,y_test)

0.5294117647058824

In [139]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier()
KNN.fit(x_train,y_train)
KNN.score(x_test,y_test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.5882352941176471

In [140]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(x_train,y_train)
svc.score(x_test,y_test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.5882352941176471

In [141]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train,y_train)
LR.score(x_test,y_test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.4117647058823529