In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [5]:
fake = pd.read_csv("Fake.csv")
true = pd.read_csv("True.csv")

In [6]:
fake.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [7]:
true.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [8]:
fake["class"]=0
true["class"]=1

In [9]:
fake.shape,true.shape

((23481, 5), (21417, 5))

In [10]:
merge_dataset=pd.concat([fake,true])
merge_dataset.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [11]:
merge_dataset.shape

(44898, 5)

In [12]:
df=merge_dataset.drop(["title","subject","date"],axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [13]:
df=df.sample(frac=1)
df.head(10)

                                                    text  class
13126  GENEVA (Reuters) - Myanmar told the United Nat...      1
10193  (Reuters) - Pennsylvania Governor Tom Wolf, a ...      1
12192  COLOMBO (Reuters) - The United Nations on Frid...      1
14311  Tow the party line or pay a heavy price. There...      0
14438  In a city who has a record of electing corrupt...      0
15108  MOSCOW (Reuters) - Russia s parliament warned ...      1
18439  ISTANBUL/BEIRUT (Reuters) - Turkey is luring m...      1
12006   The Government-Orchestrated Bankruptcies Of G...      0
3384   Everyone had their suspicions as to the timing...      0
7579   BOSTON/LONDON (Reuters) - Stocks are listing, ...      1

In [14]:
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [15]:
df["text"] = df["text"].apply(word_drop)

In [16]:
df.head(10)

                                                    text  class
13126  geneva  reuters    myanmar told the united nat...      1
10193   reuters    pennsylvania governor tom wolf  a ...      1
12192  colombo  reuters    the united nations on frid...      1
14311  tow the party line or pay a heavy price  there...      0
14438  in a city who has a record of electing corrupt...      0
15108  moscow  reuters    russia s parliament warned ...      1
18439  istanbul beirut  reuters    turkey is luring m...      1
12006   the government orchestrated bankruptcies of g...      0
3384   everyone had their suspicions as to the timing...      0
7579   boston london  reuters    stocks are listing  ...      1

In [17]:
x=df["text"]
y=df["class"]

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.25)

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer   #we only need to vectorised text so we only vectorized x as only x is text and y is a class
vectorization = TfidfVectorizer()
x_train = vectorization.fit_transform(x_train)
x_test = vectorization.transform(x_test)

NameError: name 'x_train' is not defined

In [20]:
#NAIVE BAYES getting acurracy using naive bayse.

In [25]:
from sklearn.naive_bayes import MultinomialNB
naive = MultinomialNB()
naive.fit(x_train,y_train)
naive.score(x_train,y_train)

0.9441689187182609

In [ ]:
#LINEAR REGRESSION getting acurracy using linear regression.

In [ ]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train,y_train)
LR.score(x_train,y_train)

In [ ]:
#DECISION TREE  getting acurracy using decision tree.

In [23]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(x_train, y_train)
DT.score(x_train,y_train)

0.9999703026163395

In [24]:
#KNN  getting acurracy using KNearest neighbor.

In [25]:
from sklearn.neighbors import KNeighborsClassifier
KNN =KNeighborsClassifier()
KNN.fit(x_train,y_train)
KNN.score(x_test,y_test)

0.6933630289532294

In [26]:
#RANDOM FOREST  getting acurracy using random forest.

In [27]:
from sklearn.ensemble import RandomForestClassifier
variable = RandomForestClassifier()
variable.fit(x_train,y_train)
variable.score(x_test,y_test)

0.9892204899777283

In [28]:
#SUPPORT VECTOR MACHINE  getting acurracy using SVM.

In [ ]:
from sklearn import svm
variable = svm.SVR()
variable.fit(x_train,y_train)

In [ ]:
y_pred = LR.predict(x_test)
from sklearn.metrics import accuracy_score
score1 = accuracy_score(y_test,y_pred)
score1

In [ ]:
pd = pd.DataFrame(y_pred)
pd

In [ ]:
# PRECISION FROM DECISION TREE AND LINEAR REGRESSION

In [ ]:
from sklearn.metrics import precision_score

In [ ]:
pred = DT.predict(x_test)                       #PRECISION FROM DECISION TREE

In [ ]:
precision = precision_score(y_test,pred)

In [47]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,pred)
score

NameError: name 'pred' is not defined

In [ ]:
precision

In [ ]:
pred1 = LR.predict(x_test)                      #PRECISION FROM LINEAR REGRESSION

In [ ]:
precision1 = precision_score(y_test,pred1)

In [ ]:
precision1

In [ ]:
pred3 = KNN.predict(x_test)
precision3 = precision_score(y_test,pred3)
precision3